mat-form-field{
  width: 100%;
}

input[type='file']{
  visibility: hidden;
  height: 1px;
  // margin-bottom: .5em;
}

button {
  margin-bottom: 1em;
}

.img-preview{
  height: auto;
  width: 13em;
  margin: 1rem 0;
  border: 1px solid #eee;
  img{
    height: 100%;
    width: 100%;
  }
}
