mat-expansion-panel-header{
    background: #777;
    color: #fff;
    padding: 0.3em 1em;


    .title{
        color: #fff;
        font-size: 1.2em;
        font-weight: bold
      }
  }

  .child {
    border: 1px solid rgba(0,0,0, 0.2);
    width: 200px;
    padding: 1em 0.5em;
    margin: 0.5em ;
    overflow-wrap: break-word;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 5px;

    .mem-image{
      width:100%;
      max-height: 100px;

      img{
        max-width: 100%;
        max-height: auto;
        border: 1px solid #eee;
        border-radius: 6px;
        margin-bottom: 0.5em;
      }
    }
  }
  .mat-expansion-panel-header:hover{
    background: #ccc !important;

    .title{
      color: #222;
    }
  }

  .member-title{
      margin: 2em 0;
  }

  .flex{
      display: flex;
      flex-wrap: wrap;
  }

  .mem-text{
    margin-top: 1em;
  }

  mat-list {

    // border: 2px solid #eee;
    overflow: auto;
}

.search-field{
  border-bottom: 1px solid #eee;
  margin: 1em;
}

.mem-lower{
  width: 100%;
}

// input[type='file']{
//   visibility: hidden;
//   height: 1px;
//   // margin-bottom: .5em;
// }

// button {
//   margin-bottom: 1em;
// }

// .img-preview{
//   height: auto;
//   width: 13em;
//   margin: 1rem 0;
//   border: 1px solid #eee;
//   img{
//     height: 100%;
//     width: 100%;
//   }
// }
