<div class="row">
  <div class="col-md-12">
      <h1 class="cent">The Organisation</h1>

  </div>
  <div class="excos col-md-10">
    <h3>Current Excos</h3>
    <div class="flex">
    <div class="child" *ngFor="let exec of executives">
      <div>
        <div class="exec-image">
          <img [src]="'../../../assets/' + exec.img + '.png'" [alt]="exec.name">
        </div>
        <div class="exec-details">
          <p><span>{{exec.title}} </span><span>{{exec.name}}</span></p>
          <p class="cent">{{exec.position}}</p>
        </div>
      </div>

    </div>
  </div>
  </div>


  <div class="excos col-md-10">
    <div class="row">
      <div class="col-md-8">
        <h3 class="sub-headings">Our story</h3>
        <div>
        <div >
          <p>
            Sagamu Union (GB) is an association of Sagamu indigenes residing in the UK.

Founded in 2000, our main objectives are to cater for the welfare of our members, to embark on different projects that will uplift the standard of living of our people back home and also to promote our great town, SAGAMU.

          </p>
          <p>

Our meetings are held on every 3rd Saturday of the month.

Who can join?
Membership is open to all Sagamu indigenes throughout the UK and Ireland.
          </p>
  
        </div>
      </div>
      </div>
   
      <div class="col-md-4">
        <h3 class="sub-headings">Meet us</h3>
        <div class="constitution">
          <p>
            <mat-icon>home</mat-icon>
            <span>256 HeathWay, Dagenham, RM10 7..</span>
          </p>
          <p>
              <mat-icon>email</mat-icon>
              <span>secretariat@sagamuunion.org</span>
            </p>
            <p>
                <mat-icon>phone</mat-icon>
                <span>07931122554 </span>
              </p>
              <div class="constitution">
                  <mat-icon class="const-icon">cloud_download</mat-icon>
                  <button class="mat-but" mat-raised-button>Download our constitution</button>
                </div>
      
        </div>
      </div>
    </div>
    </div>








  <div class="excos col-md-10">
  <div class="row">
    <div class="col-md-4">
      <h3 class="sub-headings">Trustees</h3>
      <div class="flex">
      <div class="child" *ngFor="let exec of trustees">
        <div>
          <div class="trustee-image">
            <img [src]="'../../../assets/' + exec.img + '.png'" [alt]="exec.name">
          </div>
          <div class="exec-details">
            <p><span>{{exec.title}} </span><span>{{exec.name}}</span></p>
            <p class="cent">{{exec.position}}</p>
          </div>
        </div>

      </div>
    </div>
    </div>
    <div class="col-md-4">
      <h3 class="sub-headings">Elders Forum</h3>
      <div class="flex">
      <div class="child" *ngFor="let exec of trustees">
        <div>
          <div class="exec-image">
            <img [src]="'../../../assets/' + exec.img + '.png'" [alt]="exec.name">
          </div>
          <div class="exec-details">
            <p><span>{{exec.title}} </span><span>{{exec.name}}</span></p>
            <p class="cent">{{exec.position}}</p>
          </div>
        </div>

      </div>
    </div>
    </div>
    <div class="col-md-4">
      <h3 class="sub-headings">Developments</h3>
      <p>The union has been involved in major community developments to uplift the lifes of our people back home.</p>
     <ul>
       <li>Remo Enable Center, Sagamu</li>
     </ul>
    </div>
  </div>
  </div>

</div>
