<div class="row">
  <div class="col-md-12">
      <h1 class="cent">The Organisation</h1>

  </div>
  <div class="excos">
    <h3>Current Excos</h3>
    <div class="flex">
    <div class="child" *ngFor="let exec of executives">
      <div>
        <div class="exec-image">
          <img [src]="'../../../assets/' + exec.img + '.png'" [alt]="exec.name">
        </div>
        <div class="exec-details">
          <p><span>{{exec.title}} </span><span>{{exec.name}}</span></p>
          <p class="cent">{{exec.position}}</p>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
