<div class="donate "> 
<div class=" offset-md-8 ">
    <a href="http://fnd.us/e1VCz9?ref=sh_d87pT9" target="_blank">
    <button mat-raised-button color="warn"> 
        <p class="help"> Help the Remo Enable Center</p>
        <p>Donate now!</p>
    </button>  </a>
</div>
<div>
  <div class="intro" fxLayout="row" fxLayoutAlign="start" fxLayout.lt-sm="column" fxLayoutGap="10px"> 
    <div >
      <h2>What we have done so far</h2>
      <p>We have completed the first phase of the building</p>
      <img src="./../../../../assets/enable-center-out.png" alt="">
    </div>
    <div >
      <h2>Why & Where we need your help</h2>
      <p>We need to equip the center with equipments like computers, braille etc.</p>
      <img src="./../../../../assets/enable-center-hall.png" />
    </div>
    
    </div>
  </div>

    <!-- <div class="col-md-6 col-xs-12 offset-md-4 ">
        <a href="http://fnd.us/e1VCz9?ref=sh_d87pT9" target="_blank">
        <button mat-raised-button color="accent"> 
            Please Donate to Help Equip the Remo Enable Center
        </button>  </a>
    </div> -->
</div>
