.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.excos{
  margin: 0 auto;
  margin-top: 2em;

.child{
  width: 120px;
}

.exec-image{
  img{
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    margin: 0 auto;
    display: block;
  border-radius: 50%;
    margin-bottom: 0.3em;
  }
}
.exec-image-small{
  img{
    max-width: 80px;
    min-height:  80px;
    max-height:  80px;
    margin: 0 auto;
    display: block;
  border-radius: 50%;
    margin-bottom: 0.3em;
  }
}

.trustee-image{
  img{
    width: 100%;

    height: auto;
    min-height: 120px;
    max-height: 120px;
    border-radius: 8%;
    margin-bottom: 0.3em;
  }
}

.exec-details {
  p {
   line-height: 0.8em;
    font-size: 12px;

  }

}

}
.cent{
  text-align: center;

}

.sub-headings{
  display: block;
  width: 100%;
  background: none;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  color: #444;
  text-align: center;
}

.constitution{
  padding: 0.7em;

  .mat-icon{

    font-size: 150%;
  }

  .const-icon{
    display: block;
     margin: 0 auto;
  }



}

.mat-but{
  background: rgb(2, 97, 46);
  color: #fff;
  font-size: 1.1em;
}

.addr{
  font-size: 0.9em;
  display: inline-block;
  position: relative;
  left: 3px;
  bottom: 4px;
}
