<div class="logo" fxHide="true" fxShow.lt-sm>
  <a routerLink="/home" routerLinkActive="active">
    <img src="../../../assets/logo.png">
 <span class="site-name"> Sagamu Union (GB)</span></a></div>
<div class="menu-icon" fxHide="true" fxShow.lt-sm (click)="onShowNav()">
    <span><mat-icon class="home-icon"> menu</mat-icon></span>
</div>
    <div class="menu-mobile" *ngIf="showNav"  fxHide="true" fxShow.lt-sm fxLayout="column"  >
        <!-- This fills the remaining space of the current row -->
        <div class="">
          <a routerLink="/about" routerLinkActive="active">
          <span >About us
          </span>
          </a>
        </div>

        <div class="">
          <a routerLink="/blog" routerLinkActive="active">
          <span >Blog
          </span>
          </a>
      </div>
        <div class="">
          <a routerLink="/youths" routerLinkActive="active">
          <span>Youths</span>
          </a>
        </div>

        <div class="">
          <a routerLink="/projects" routerLinkActive="active">
          <span>Projects</span>
          </a>
        </div>
      
        <div class="">
          <a href="https://fundrazr.com/e1VCz9?ref=sh_d87pT9_ab_1EUqhsrkUZz1EUqhsrkUZz" target="_blank">
          <span> Donate</span>
          </a>
        </div>
        
        <div class="">
          <a href="https://www.sagamuunion.org/members">
           <span>  Membership
            </span>
          </a>
        </div>
      
        <!-- <div class="" >
          <a *ngIf="!memberIsAuthenticated" routerLink="/login" routerLinkActive="active">
        <span > <mat-icon>how_to_reg</mat-icon>
      Login
        </span></a>
        <button (click)="onLogOut()" [ngClass]="{'is-login': memberIsAuthenticated}" *ngIf="memberIsAuthenticated" mat-button>
            <mat-icon>how_to_reg</mat-icon>
          Logout</button>
      </div> -->
      
      
      
      
    </div>
<div fxHide="true" fxShow.gt-xs color="" class="flex" >
  <!-- This fills the remaining space of the current row -->
  <div class="test">
      <div class="logo">
        <a routerLink="/home">
             <img src="../../../assets/logo_clean.png"></a>
     <div class="site-name"><a routerLink="/home">Sagamu Union (GB)</a></div>
    </div>
      </div>
  <div class="">
      <a routerLink="/about" routerLinkActive="active">
    <span >About us
    </span>
    </a>

  </div>
  <div class="">
    <a routerLink="/blog" routerLinkActive="active">
  <span >Blog
  </span>
  </a>

</div>
  <div class="">
      <a routerLink="/youths" routerLinkActive="active">
    <span>Youths</span>
    </a>
  </div>

  <div class="">
    <a routerLink="/projects" routerLinkActive="active">
  <span>Projects</span>
</a>
</div>

<div class="">
  <a href="https://fundrazr.com/e1VCz9?ref=sh_d87pT9_ab_1EUqhsrkUZz1EUqhsrkUZz" target="_blank">
  <span> Donate</span>
  </a>
</div>

  <div class="">
    <a routerLink="/eshop" routerLinkActive="active">
  <span>eShop</span>
</a>
</div>

  <div class="">
      <a href="https://www.sagamuunion.org/members">
    <span >
     Membership
    </span></a>
  </div>

  <!-- <div class="" >
    <a *ngIf="!memberIsAuthenticated" routerLink="/login" routerLinkActive="active">
  <span > <mat-icon>how_to_reg</mat-icon>
Login
  </span></a>
  <button (click)="onLogOut()" [ngClass]="{'is-login': memberIsAuthenticated}" *ngIf="memberIsAuthenticated" mat-button>
      <mat-icon>how_to_reg</mat-icon>
    Logout</button>
</div> -->




</div>

