<div class="row">
  <div class="col-md-12 member-title">
    <h1>Membership & registration</h1>
  </div>
    <div class="col-md-6 ">

       <div class="row">
         <div class="col-md-6">
           <h2>Sign-in</h2>
           <form class="example-form" (submit)="signIn(memberSigninForm)" #memberSigninForm="ngForm" >
              <div>
                  <mat-form-field class="example-full-width">
                    <input ngModel matInput placeholder="Username" type="text" name="username" >
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field class="example-full-width">
                    <input ngModel matInput placeholder="Password" type="password" name="password" >
                  </mat-form-field>
                </div>


                <div>

                    <button type="submit"  color="accent" mat-raised-button >Signin</button>


                </div>
          </form>
         </div>

         <!-- Register -->
         <div class="col-md-6">
           <h2>Register</h2>
           <p class="mem-text">Membership is opened to all indigines of Sagamu living in the Great Britain.</p>
            <form class="example-form" (submit)="addMember(memberPostForm)" #memberPostForm="ngForm" >
                <div>
                    <mat-form-field class="example-full-width">
                      <input ngModel matInput placeholder="Name" type="text" name="name" >
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field class="example-full-width">
                      <input ngModel matInput placeholder="Email" type="text" name="email" >
                    </mat-form-field>
                  </div>

                  <div>
                    <mat-form-field class="example-full-width">
                      <input ngModel matInput placeholder="telephone" type="text" name="telephone" >
                    </mat-form-field>
                  </div>


                  <div>

                      <button type="submit"  color="primary" mat-raised-button >Apply</button>


                  </div>
            </form>

        </div>
       </div>
      </div>

      <div class="col-md-6 ">
         <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="header">
                <mat-panel-title class="title">
           <mat-icon>list</mat-icon>  Members List
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="search-field">
                 <form #memberSearch="ngForm">
                    <mat-form-field class="mat-select">
                        <mat-icon class="mat-prefix" matPrefix>search</mat-icon>
                        <input name="search" matInput ngModel matInput value=""
                          placeholder="Search for member by name">
                          <button *ngIf="memberSearch.value.search" mat-button matSuffix mat-icon-button aria-label="Clear"
                          (click)="memberSearch.reset()">
                          <mat-icon class="search-close-btn">close</mat-icon>
                        </button>

                      </mat-form-field>
                 </form>
                 {{memberSearch.value.search}}
                </div>
              <div class="flex">
          <div *ngFor="let member of membersList | search:'name,type': memberSearch.value.search;"  >


                    <div class=" row child" >

                     <div class="col-md-4 mem-image">
                        <img matListAvatar src="../../../assets/logo.png" alt="...">
                     </div>
                     <div class="col-md-6">
                        <h3> {{member.name}} </h3>
                      <p >
                        <span> {{member.email}} </span>

                      </p>
                      <p >
                          <span class="demo-2"> {{member.telephone}} </span>
                        </p>
                     </div>
                    </div>
                </div>
                </div>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
</div>



<!-- <div>

  <mat-tab-group>
      <mat-tab label="Home"> -->
          <!--The content below is only a placeholder and can be replaced.-->
  <!-- <div >
      <form class="example-form flex" (submit)="addMember(memberPostForm)" #memberPostForm="ngForm" >
          <div>
              <mat-form-field class="example-full-width">
                <input ngModel matInput placeholder="Name" type="text" name="name" >
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input ngModel matInput placeholder="Email" type="text" name="email" >
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input ngModel matInput placeholder="telephone" type="text" name="telephone" >
              </mat-form-field>
            </div>


            <div>

                <button type="submit"  color="primary" mat-raised-button >Apply</button>


            </div>
      </form>

  </div>
      </mat-tab>
      <mat-tab label="Membership">
     <mat-list>
          <mat-list-item *ngFor="let member of membersList">
    <div>

      <span>Name :  {{member.name}}  </span>
      <span>Email: {{member.email}}</span>
      <span>Telephone: {{member.telephone}}</span>
      <span>ID: {{member.id}}</span>

    </div>
    <div>
      <button type="button" (click)="onDelete(member.id)"  color="warn" mat-raised-button >Delete</button>


  </div>
          </mat-list-item>
          <div *ngIf="!memberPost">No Post yet</div>
        </mat-list>

       </mat-tab>
      <mat-tab label="Youth"> Content 3

      </mat-tab>
    </mat-tab-group> -->
