

    <div class="row">
        <div class="col-md-5 offset-md-1 home-content">
          <h1>Providing for the needy</h1>
          <p>Our main objectives are to cater for the welfare of our members, to embark on different projects that will uplift the standard of living of our people back home and also to
            promote our great town, SAGAMU.</p>
          <div>
              <div class="row">
            <div class="col-md-3 col-xs-3">
              <button mat-raised-button class="blue_btn"> Contact us</button>
            </div>

              <div class="col-md-3"></div>
            <div class="col-md-3 col-xs-3"><button mat-raised-button class="green_btn"> Latest projects</button></div>
          </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="carousel-holder">
            <div class="carousel">
                <mat-carousel
                timings="150ms ease-out"
                [autoplay]="true"
                interval="5000"
                color="none"
                maxWidth="20"
                proportion="89"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="false"
                [useKeyboard]="true"
                [useMouseWheel]="false"
                orientation="ltr"
                >
                    <mat-carousel-slide
                        *ngFor="let slide of slides; let i = index"
                        [image]="slide.image"
                        overlayColor="#000000"
                        [hideOverlay]="true">
                      </mat-carousel-slide>
                  </mat-carousel>
            </div>

          </div>
        </div>
        </div>




