<div class="youth">
  <div class="content">
    <img src="../../../../assets/miss_sagamu21 - Copy.jpg"/>

    <div class="data">
        <div>
            <span>Name:</span>
            <span class="d-name"> Miss Daniella Odunukan</span>
        </div>
    <div><span>Title:</span>
      <span class="d-name"> Miss Sagamu (UK)</span></div>

    <div>
        <span>Year:</span>
        <span class="d-name"> Current</span>
    </div>
    <div class="more"><button class="youth_btn" (click)="youthDialog()">See more on Youths...</button></div>
    </div>

    <div class="memo">
      <span>eyes </span>
      <mat-icon>remove_red_eye</mat-icon>
      <mat-icon>remove_red_eye</mat-icon>
      <span> of our youths!</span>
    </div>
  </div>
</div>
