

    <div class="row">
        <div class="col offset-md-1 home-content">
          <h1>Providing for the needy</h1>
          <p>Our main objectives are to cater for the welfare of our members, to embark on different projects that will uplift the standard of living of our people back home and also to
            promote our great town, SAGAMU.</p>
            <div class="row">
                <div class="col">

                  <button mat-raised-button class="green_btn"> Latest projects</button>
                </div>

                <div class="col ">  <button mat-raised-button class="blue_btn"> Contact us</button></div>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <div class="extra">
                  <mat-card class="example-card">
                    <!-- <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-icon>work_outline</mat-icon>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>...more</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="extra">
                  <mat-card class="example-card">
                    <!-- <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-icon>announcement</mat-icon>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>...more</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="extra">
                  <mat-card class="example-card">
                    <!-- <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-icon>alarm</mat-icon>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>...more</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <div class="extra"></div>
              </div>

        </div>
        <div class="col">

          <div class="carousel-holder" fxShow.xs="false">
              <div class="royal-meet">meet</div>
              <div class="royal-the">the</div>
              <div class="royal-royals">royals</div>
            <div class="carousel">
                <mat-carousel
                timings="150ms ease-out"
                [autoplay]="true"
                interval="5000"
                color="none"
                maxWidth="20"
                proportion="89"
                slides="5"
                [loop]="true"
                [hideArrows]="false"
                [hideIndicators]="false"
                [useKeyboard]="true"
                [useMouseWheel]="false"
                orientation="ltr"
                >
                    <mat-carousel-slide
                        *ngFor="let slide of slides; let i = index"
                        [image]="slide.image"
                        overlayColor="#000000"
                        [hideOverlay]="true">
                      </mat-carousel-slide>
                  </mat-carousel>
            </div>

          </div>
        </div>
        </div>




